    <div class="logo-row">
      <div class="logo logo-carousel">
        <div class="center slick-slider">
          <div class="brand-image">
            <a href="https://www.specialized.com/jp/en" target="_blank">
              <img src="/images/logos/Spec_logo.jpg"/>
            </a>
          </div>
          <div class="brand-image">
            <a href="http://www.cannondale.com/en/USA" target="_blank">
              <img src="/images/logos/cannondale_logo_2.png"/>
            </a>
          </div>
          <div class="brand-image">
            <a href="https://www.transitionbikes.com/" target="_blank">
              <img src="/images/logos/transition_logo.jpg"/>
            </a>
          </div>
          <div class="brand-image">
            <a href="https://www.scott-sports.com/us/en/sports/bike" target="_blank">
              <img src="/images/logos/Scott_Logo.jpg"/>
            </a>
          </div>
          <div class="brand-image">
            <a href="https://industrynine.com/" target="_blank">
              <img src="/images/logos/industry-nine-logo.jpg"/>
            </a>
          </div>
          <div class="brand-image">
            <a href="https://www.yakima.com/" target="_blank">
              <img src="/images/logos/Yakima-Logo-720x380.jpg"/>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class=" jumbotron_footer">
      <div class="email">
        <p>
          Sign up for our Newsletter!
        </p>
        <form action="" method="" class="email_form">
          <input class="email" type="email" name="email" placeholder="Email" />
          <input class="email_button" type="submit" form="email_form" value="submit"></input>
        </form>

      </div>
      <p>© Copyright Blackwater Bike Shop, 2018. All rights reserved.</p>
      <p>18869 Forest Road Lynchburg, VA 24502 </p>
      <p>(434) 385-7047 . info@blackwaterbikeshop.com</p>
      <p>
        <span class="media_icons"><a href="https://www.facebook.com/Blackwater-Bike-Shop-49810134946/" target="_blank"><i class="fab fa-2x fa-facebook-square"></i></a></span>
        <span class="media_icons"><a href="https://www.instagram.com/blackwaterbikeshop/" target="_blank"><i class="fab fa-2x fa-instagram"></i></a></span>
        <span class="media_icons"><a href="https://twitter.com/blackwaterbikes" target="_blank"><i class="fab fa-2x fa-twitter-square"></i></a></span>
      </p>
      <br />




    </div>



  </body>
</html>
