<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blackwater Bike Shop: Lynchburg, VA's Premier Bicycle Shop</title>
<!-- CSS cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<!-- custom styling  -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/blackwaterbs.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css"/>
<!-- CDN Script -->
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js">
    </script>
<!-- Custom Script -->
    <script type="text/javascript" src="/scripts/main.js"></script>




  </head>


  <body class="body">
      <div class="header">
        <nav class="drop-nav">
          <div id="logo">
            <a class="navbar-brand" href="home"><img class="image-brand" src="/images/virginia-clipart-virginia-outline-clipart-1.jpg"/></a>
          </div>

          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop" />
              <ul class="menu">
                  <li><a href="home">Home</a></li>
                  <li class="dropdown">
                  <!-- First Tier Drop Down -->
                  <label for="drop-1" class="toggle">Services +</label>
                  <a href="services">Services</a>
                  <input type="checkbox" id="drop-1"/>
                  <ul>
                      <li><a href="#">Repairs</a></li>
                      <li><a href="#">Custom Wheel Building</a></li>
                      <li><a href="#">Bike Rentals</a></li>
                      <li><a href="#">Coaching/Bike Fit</a></li>
                  </ul>

                  </li>
                  <li class="dropdown">
                  <label for="drop-2" class="toggle">Community +</label>
                  <a href="community">Community</a>
                  <input type="checkbox" id="drop-2"/>
                  <ul>
                      <li><a href="#">Strava</a></li>
                      <li><a href="#">Race Team</a></li>
                      <li><a href="#">Local Rides</a></li>
                      <li><a href="#">Local Weather</a></li>
                      <li>
                  </ul>
                  </li>
                  <li><a href="about_us">About Us</a></li>
                  <li><a href="products">Products</a></li>
                  <li><a href="blog">Blog</a></li>
              </ul>
        </nav>
      </div>
