<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blackwater Bike Shop: Lynchburg, VA's Premier Bicycle Shop</title>
<!-- CSS cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
<!-- custom styling  -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/blackwaterbs.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css"/>
<!-- CDN Script -->
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js">
    </script>
<!-- Custom Script -->
    <script type="text/javascript" src="/scripts/main.js"></script>




  </head>


  <body class="body">
      <div class="header">
        <nav class="drop-nav">
          <div id="logo">
            <a class="navbar-brand" href="home"><img class="image-brand" src="/images/virginia-clipart-virginia-outline-clipart-1.jpg"/></a>
          </div>

          <label for="drop" class="toggle"> Menu</label>
          <input type="checkbox" id="drop" />
              <ul class="menu">
                  <li><a href="home menu-item">Home</a></li>
                  <li class="dropdown">
                  <!-- First Tier Drop Down -->
                  <label for="drop-1" class="toggle menu-item">Services ++</label>
                  <a href="services">Services</a>
                  <input type="checkbox" id="drop-1"/>
                  <div class="menu-row">
                    <ul>
                      <div class="flex-container">
                        <div class="menu-column">
                          <h3>Repairs</h3>
                          <li><a href="#">Repairs</a></li>
                        </div>
                        <div class="menu-column">
                          <h3>Custom Wheels</h3>
                          <div class="menu-image">
                            <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0349/7357/files/IndustryNineEnduro310_29_24h_Front.jpg?v=1500407427"/></a></li>
                          </div>
                        </div>
                        <div class="menu-column">
                          <h3>Rentals</h3>
                          <li><a href="#">Bike Rentals</a></li>
                        </div>
                        <div class="menu-column">
                          <h3>Coaching/Fitting</h3>
                          <li><a href="#">Coaching/Bike Fit</a></li>
                        </div>
                      </div>

                    </ul>
                  </div>
                  </li>
                  <li class="dropdown">
                  <label for="drop-2" class="toggle menu-item">Community +</label>
                  <a href="community">Community</a>
                  <input type="checkbox" id="drop-2"/>
                  <div class="menu-row">
                    <ul>
                      <div class="flex-container">
                        <div class="menu-column">
                          <h3>Strava</h3>
                          <div class="menu-image">
                            <li><a href="#"><img src="http://www.bikecleveland.org/wp-content/uploads/2016/02/Strava1.png"/></a></li>
                          </div>
                        </div>
                        <div class="menu-column">
                          <h3>Race Team</h3>
                          <div class="menu-image">
                            <li><a href="#"><img src="https://images.unsplash.com/photo-1494488802316-82250d81cfcc?ixlib=rb-0.3.5&s=2627dae5174d3459248ecafa7c464ba7&auto=format&fit=crop&w=1050&q=80"/></a></li>
                          </div>
                        </div>
                        <div class="menu-column">
                          <h3>Local Rides</h3>
                          <div class="menu-image">
                            <li><a href="#"><img src="https://images.unsplash.com/photo-1502176747191-3354e2597a5f?ixlib=rb-0.3.5&s=06126f4b6148f11b3ffd7f550a9d6a61&auto=format&fit=crop&w=818&q=80"/></a></li>
                          </div>
                        </div>
                        <div class="menu-column">
                          <h3>Local Weather</h3>
                          <div class="menu-image">
                            <li><a href="#"><img src="https://images.unsplash.com/photo-1469365556835-3da3db4c253b?ixlib=rb-0.3.5&s=338773e1817688d28b3c9c4593715d50&auto=format&fit=crop&w=1050&q=80"/></a></li>
                          </div>
                        </div>
                      </div>
                    </ul>
                  </div>
                  </li>
                  <li><a href="menu-item about_us">About Us</a></li>
                  <li><a href="menu-item products">Products</a></li>
                  <li><a href="menu-item blog">Blog</a></li>
              </ul>
        </nav>
      </div>
