<div class="header">
  <nav class="drop-nav">
    <div id="logo">
      <a class="navbar-brand" href="home"><img class="image-brand" src="/images/virginia-clipart-virginia-outline-clipart-1.jpg"/></a>
    </div>
    <div class="shop_info">
      <div class="shop_phone info_item">(434) 385-7047</div>
      <div class="shop_address info_item">18869 Forest Road Lynchburg, VA 24502</div>
      <div class="store_hours info_item">M-F: 10am-7pm | Sat:10am-5pm</div>
    </div>
    <label for="drop" class="toggle"> Menu</label>
    <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a class="item" href="home ">Home</a></li>
            <li class="dropdown">
            <!-- First Tier Drop Down -->
            <label for="drop-1" class="toggle ">Services</label>
            <a class="item" >Services</a>
            <input type="checkbox" id="drop-1"/>
            <div class="menu-row">
              <ul>
                <div class="flex-container">
                  <div class="menu-column">
                    <h3>Repairs</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right orange">
                      <li>
                        <a href="/repairs">
                          <div class="img">
                            <img src="/images/toolLogo.jpg" alt="bike repair maintenance"/>
                          </div>
                          <div class="info">
                            <p>Need service? We've got you covered!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Fitting</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right orange">
                      <li>
                        <a href="/fitting">
                          <div class="img">
                            <img src="http://s.stpost.com/m/img/Guides/landingPage/og/guideBikeFit-102016.jpg" alt="bike fitting"/>
                          </div>
                          <div class="info">
                            <p>Make your ride feel as good as it looks!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Rentals</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right orange">
                      <li>
                        <a href="/rentals">
                          <div class="img">
                            <img src="/images/rental_trailEd.jpg" alt="bike rentals"/>
                          </div>
                          <div class="info">
                            <p>Take a spin on some sweet rides!!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Coaching</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right orange">
                      <li>
                        <a href="/coaching">
                          <div class="img">
                            <img src="/images/kelly_coachEd.jpg" alt="mountain bike training coaching"/>
                          </div>
                          <div class="info">
                            <p>Want to make the most of that new Bike? Let us help!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            </li>
            <li class="dropdown">
            <label for="drop-2" class="toggle">Community</label>
            <a class="item" >Community</a>
            <input type="checkbox" id="drop-2"/>
            <div class="menu-row">
              <ul>
                <div class="flex-container">
                  <div class="menu-column">
                    <h3>Strava</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right blue">
                      <li>
                        <a href="https://www.strava.com/clubs/15476?oq=bl" target="_blank">
                          <div class="img">
                            <img src="http://www.bikecleveland.org/wp-content/uploads/2016/02/Strava1.png" alt="Strava"/>
                          </div>
                          <div class="info">
                            <p>Connect with us!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Local Races</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right blue">
                      <li>
                        <a href="/local_races">
                          <div class="img">
                            <img src="/images/coco_racingEd.jpg" alt="central VA cycling races"/>
                          </div>
                          <div class="info">
                            <p>Looking for some fun! Join the crew!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Local Rides</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right blue">
                      <li>
                        <a href="/local_rides">
                          <div class="img">
                            <img src="/images/blueridgebeautyEd.jpg" alt="local trails Lynchburg VA"/>
                          </div>
                          <div class="info">
                            <p>Where do we ride? Find Out!!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Group Rides</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right blue">
                      <li>
                        <a href="/group_rides">
                          <div class="img gloc">
                            <img src="http://cdn2.bigcommerce.com/server1700/01wp0ckw/products/2223/images/6010/IMBA_GLOC__66971.1476725127.1280.1280.png?c=2" alt="local cycling club gloc"/>
                          </div>
                          <div class="info">
                            <p>Join those who share your passion!!</p>
                          </div>
                        </a>
                      </li>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            </li>
            <li class="dropdown" >
            <label for="drop-2" class="toggle" onclick="closeMenu()">Products</label>
            <a class="item">Products</a>
            <input type="checkbox" id="drop-2"/>
            <div class="menu-row">
              <ul class="dropMenu">
                <div class="flex-container">
                  <div class="menu-column">
                    <h3>Bikes</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right green">
                      <li>
                        <a href="/bikes">
                          <div class="img">
                            <img src="/images/coolstumpyEd.jpg" alt="specialized cannondale scott transition bicycle"/>
                          </div>
                          <div class="info">
                            <p>Let us hook you up with a sweet new ride!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Clothing</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right green">
                      <li>
                        <a href="/clothing">
                          <div class="img">
                            <img src="/images/team_kitEd.jpg" alt="cycling clothing"/>
                          </div>
                          <div class="info">
                            <p>Dress for any occasion!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Accesories</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right green">
                      <li>
                        <a href="/accessories">
                          <div class="img">
                            <img src="/images/hydration2Ed.jpg" alt="cycling accessories">
                          </div>
                          <div class="info">
                            <p>Be prepared for anything!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Racks</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right green">
                      <li>
                        <a href="/racks">
                          <div class="img gloc">
                            <img src="/images/rackEd.jpg" alt="bike racks"/>
                          </div>
                          <div class="info">
                            <p>Adventure can be anywhere!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            </li>
            <li><a class="item" href="about_us">About Us</a></li>
            <li><a class="item" href="http://localhost/word_press/BWBS_blog/">Blog</a></li>
        </ul>
  </nav>
</div>
