<div class="header">
  <nav class="drop-nav">
    <div id="logo">
      <a class="navbar-brand" href="home"><img class="image-brand" src="/images/virginia-clipart-virginia-outline-clipart-1.jpg"/></a>
    </div>

    <label for="drop" class="toggle"> Menu</label>
    <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a class="item" href="home ">Home</a></li>
            <li class="dropdown">
            <!-- First Tier Drop Down -->
            <label for="drop-1" class="toggle ">Services ++</label>
            <a class="item" >Services</a>
            <input type="checkbox" id="drop-1"/>
            <div class="menu-row">
              <ul>
                <div class="flex-container">
                  <div class="menu-column">
                    <h3>Repairs</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right orange">
                      <li>
                        <a href="/repairs">
                          <div class="img">
                            <img src="https://images.unsplash.com/photo-1503791774117-08c379dd7f7c?ixlib=rb-0.3.5&s=85e592cfc767e63d6f7f8afb601ff1c0&auto=format&fit=crop&w=1036&q=80"/>
                          </div>
                          <div class="info">
                            <p>Need service? We've got you covered!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Fitting</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right orange">
                      <li>
                        <a href="/fitting">
                          <div class="img">
                            <img src="http://s.stpost.com/m/img/Guides/landingPage/og/guideBikeFit-102016.jpg"/>
                          </div>
                          <div class="info">
                            <p>Make your ride feel as good as it looks!</p>
                          </div>
                        </a>
                    </li>
                    </div>

                  </div>
                  <div class="menu-column">
                    <h3>Rentals</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right orange">
                      <li>
                        <a href="/rentals">
                          <div class="img">
                            <img src="https://images.unsplash.com/photo-1455641374154-422f32e234cd?ixlib=rb-0.3.5&s=ab3007e7cb59728898668b5834d6b8dc&auto=format&fit=crop&w=1489&q=80"/>
                          </div>
                          <div class="info">
                            <p>Take a spin on some sweet rides!!</p>
                          </div>
                        </a>
                    </li>
                    </div>

                  </div>
                  <div class="menu-column">
                    <h3>Coaching</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right orange">
                      <li>
                        <a href="/coaching">
                          <div class="img">
                            <img src="http://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/2/2012/11/london12_track3_aj_Manning_3-630x418.jpg"/>
                          </div>
                          <div class="info">
                            <p>Want to make the most of that new Bike? Let us help!</p>
                          </div>
                        </a>
                    </li>
                    </div>

                  </div>
                </div>

              </ul>
            </div>
            </li>
            <li class="dropdown">
            <label for="drop-2" class="toggle">Community +</label>
            <a class="item" >Community</a>
            <input type="checkbox" id="drop-2"/>
            <div class="menu-row">
              <ul>
                <div class="flex-container">
                  <div class="menu-column">
                    <h3>Strava</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right blue">
                      <li>
                        <a href="https://www.strava.com/clubs/15476?oq=bl" target="_blank">
                          <div class="img">
                            <img src="http://www.bikecleveland.org/wp-content/uploads/2016/02/Strava1.png"/>
                          </div>
                          <div class="info">
                            <p>Connect with us!</p>
                          </div>
                        </a>
                    </li>
                    </div>

                  </div>
                  <div class="menu-column">
                    <h3>Local Races</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right blue">
                      <li>
                        <a href="/local_races">
                          <div class="img">
                            <img src="https://images.unsplash.com/photo-1494488802316-82250d81cfcc?ixlib=rb-0.3.5&s=2627dae5174d3459248ecafa7c464ba7&auto=format&fit=crop&w=1050&q=80"/>
                          </div>
                          <div class="info">
                            <p>Looking for some fun! Join the crew!</p>
                          </div>
                        </a>
                    </li>
                    </div>

                  </div>
                  <div class="menu-column">
                    <h3>Local Rides</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right blue">
                      <li>
                        <a href="/local_rides">
                          <div class="img">
                            <img src="https://images.unsplash.com/photo-1502176747191-3354e2597a5f?ixlib=rb-0.3.5&s=06126f4b6148f11b3ffd7f550a9d6a61&auto=format&fit=crop&w=818&q=80"/>
                          </div>
                          <div class="info">
                            <p>Where do we ride? Find Out!!</p>
                          </div>
                        </a>
                    </li>
                    </div>

                  </div>
                  <div class="menu-column">
                    <h3>Group Rides</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right blue">
                      <li>
                        <a href="/group_rides">
                          <div class="img gloc">
                            <img src="http://cdn2.bigcommerce.com/server1700/01wp0ckw/products/2223/images/6010/IMBA_GLOC__66971.1476725127.1280.1280.png?c=2"/>
                          </div>
                          <div class="info">
                            <p>Join those who share your passion!!</p>
                          </div>
                        </a>
                      </li>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            </li>
            <li class="dropdown">
            <label for="drop-2" class="toggle">Products +</label>
            <a class="item">Products</a>
            <input type="checkbox" id="drop-2"/>
            <div class="menu-row">
              <ul>
                <div class="flex-container">
                  <div class="menu-column">
                    <h3>Bikes</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right green">
                      <li>
                        <a href="/bikes">
                          <div class="img">
                            <img src="https://previews.123rf.com/images/phiseksit/phiseksit1102/phiseksit110200063/8845154-old-bike.jpg"/>
                          </div>
                          <div class="info">
                            <p>Let us hook you up with a sweet new ride!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                  <div class="menu-column">
                    <h3>Clothing</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right green">
                      <li>
                        <a href="/clothing">
                          <div class="img">
                            <img src="http://www.victoriana.com/Fashion/Images/victorianclothing-1897.JPG"/>
                          </div>
                          <div class="info">
                            <p>Dress for any occasion!</p>
                          </div>
                        </a>
                    </li>
                    </div>

                  </div>
                  <div class="menu-column">
                    <h3>Accesories</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right green">
                      <li>
                        <a href="/accessories">
                          <div class="img">
                            <img src="https://electricbikereview.com/wp-content/assets/2017/01/essential-electric-bike-accessories-list.jpg"/>
                          </div>
                          <div class="info">
                            <p>Be prepared for anything!</p>
                          </div>
                        </a>
                    </li>
                    </div>

                  </div>
                  <div class="menu-column">
                    <h3>Racks</h3>
                    <div class="menu-image ih-item circle effect13 from_left_and_right green">
                      <li>
                        <a href="/racks">
                          <div class="img gloc">
                            <img src="https://www.rei.com/media/f2ea0d89-c8bd-46d9-ad80-d5a813b29fcf?size=1020x510"/>
                          </div>
                          <div class="info">
                            <p>Adventure can be anywhere!</p>
                          </div>
                        </a>
                    </li>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            </li>
            <li><a class="item" href="about_us">About Us</a></li>
            <!-- <li><a class="item" href="products">Products</a></li> -->
            <li><a class="item" href="blog">Blog</a></li>
        </ul>
  </nav>
</div>
