<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Our Story</h1>
        </div>
        <div class="content_box box_1">
          <p>
            Lorem ipsum dolor amet before they sold out nisi truffaut ennui hammock etsy. Neutra hella messenger bag blue bottle, deserunt pariatur truffaut id. Slow-carb iceland vinyl, pabst locavore neutra unicorn snackwave meggings seitan cardigan austin tattooed adipisicing. Venmo eu art party tacos chia aesthetic beard affogato plaid lyft put a bird on it cold-pressed.
          </p>
          <br />
          <p>
            Readymade austin fixie aliqua, offal et helvetica af bitters. Craft beer hoodie hashtag tempor, readymade asymmetrical cliche four loko pickled minim reprehenderit. Esse pabst semiotics, locavore prism ex photo booth snackwave franzen four dollar toast fam authentic put a bird on it shabby chic. Sunt ut fingerstache seitan, palo santo bicycle rights echo park. Farm-to-table eu microdosing minim, man bun synth master cleanse viral. Nisi butcher laborum biodiesel wolf paleo fashion axe cray four dollar toast mumblecore, succulents franzen do. Cloud bread raclette incididunt semiotics fixie.
          </p>
        </div>
        <div class="content_header">
          <h1>Our Team</h1>
        </div>
        <div class="content_box box_2">
          <p>
            Chartreuse single-origin coffee hella PBR&B artisan godard. Blue bottle pour-over synth, blog kombucha ennui aesthetic elit salvia. Kickstarter cillum seitan asymmetrical etsy irony proident prism typewriter consequat photo booth tempor meditation. Fanny pack fingerstache narwhal et, taxidermy semiotics direct trade raclette commodo anim.
          </p>

            <div class="grid">
              <div class="img_grid_cell">
                <div class="middle_column">

                  <div class="ih-item square effect6 from_left_and_right">
                    <span class="areplace">
                      <div class="img">
                        <img src="/images/davy_temp.jpg" alt="blackwater bike shop employee" />
                      </div>
                      <div class="info">
                        <h2><a href="https://analytics.strava.com/athletes/865565" target="_blank"><i class="fab fa-lg fa-strava"></a></i>Davy<a><i class="fab fa-lg fa-instagram"></i></a></h2>
                        <p>I own the shop and try to keep the mischief to a minimum.</p>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="img_grid_cell">
                <div class="middle_column">
                  <div class="ih-item square effect6 from_left_and_right">
                    <span class="areplace"><div class="img">
                      <img src="/images/jason_temp.jpg" alt="blackwater bike shop employee"/>
                    </div>
                    <div class="info">
                      <h2>Jason</h2>
                      <p>I am in charge on making sure people stay happy :)</p>
                    </div></span>
                  </div>
                </div>
              </div>
              <div class="img_grid_cell">
                <div class="middle_column">
                  <div class="ih-item square effect6 from_left_and_right">
                    <span class="areplace"><div class="img">
                      <img src="/images/david_working.jpg" alt="blackwater bike shop employee" />
                    </div>
                    <div class="info">
                      <h2><a><i class="fab fa-lg fa-strava"></a></i>David<a href="https://www.instagram.com/davidcarney_/" target="_blank"><i class="fab fa-lg fa-instagram"></i></a></h2>
                      <p>Im David, I like to party hit me up @thepark!</p>
                    </div></span>
                  </div>
                </div>
              </div>
              <div class="img_grid_cell">
                <div class="middle_column">
                  <div class="ih-item square effect6 from_left_and_right">
                    <span class="areplace"><div class="img">
                      <img src="/images/tony_temp.jpg" alt="blackwater bike shop employee" />
                    </div>
                    <div class="info">
                      <h2><a href="https://analytics.strava.com/athletes/1894535" target="_blank"><i class="fab fa-lg fa-strava"></a></i>Tony<a href="https://www.instagram.com/grasshopperking0/" target="_blank"><i class="fab fa-lg fa-instagram"></i></a></h2>
                      <p>What I lack in hair I make up for in quirky humor and knowledge of laser tag equipment.</p>
                    </div></span>
                  </div>
                </div>
              </div>
              <div class="img_grid_cell">
                <div class="middle_column">
                  <div class="ih-item square effect6 from_left_and_right">
                    <span class="areplace"><div class="img">
                      <img src="/images/humility_sm.jpg" alt="blackwater bike shop employee" />
                    </div>
                    <div class="info">
                      <h2><a href="https://www.strava.com/athletes/1243013" target="_blank"><i class="fab fa-lg fa-strava"></a></i>Chris<a href="https://www.instagram.com/drdanger24/" target="_blank"><i class="fab fa-lg fa-instagram"></i></a></h2>
                      <p>I've actually been brought in by the government to observe and spy on David.</p>
                    </div></span>
                  </div>
                </div>
              </div>
              <div class="img_grid_cell">
                <div class="middle_column">
                  <div class="ih-item square effect6 from_left_and_right">
                    <span class="areplace"><div class="img">
                      <img src="/images/greg_temp.jpg"alt="blackwater bike shop employee" />
                    </div>
                    <div class="info">
                      <h2><a href="https://analytics.strava.com/athletes/9842994" target="_blank" ><i class="fab fa-lg fa-strava"></a></i>Greg<a href="https://www.instagram.com/greegcs" target="_blank" ><i class="fab fa-lg fa-instagram"></i></a></h2>
                      <p>????</p>
                    </div></span>
                  </div>
                </div>
              </div>
              <div class="img_grid_cell">
                <div class="middle_column">
                  <div class="ih-item square effect6 from_left_and_right">
                    <span class="areplace"><div class="img">
                      <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/190281_8012280373_7049_n.jpg?_nc_cat=0&oh=52271004d2c8f105dc0ea354dddc832e&oe=5B72F2FF" alt="blackwater bike shop employee" />
                    </div>
                    <div class="info">
                      <h2><a href="https://analytics.strava.com/athletes/17122586" target="_blank"><i class="fab fa-lg fa-strava"></a></i>Kemp<a><i class="fab fa-lg fa-instagram"></i></a></h2>
                      <p>Blah Blah!</p>
                    </div></span>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include partials/footer %>
