<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_containter">
        <div class="content_header">
          <h1>Our Story</h1>
        </div>
        <div class="content_box box_1">
          <p>
            Lorem ipsum dolor amet before they sold out nisi truffaut ennui hammock etsy. Neutra hella messenger bag blue bottle, deserunt pariatur truffaut id. Slow-carb iceland vinyl, pabst locavore neutra unicorn snackwave meggings seitan cardigan austin tattooed adipisicing. Venmo eu art party tacos chia aesthetic beard affogato plaid lyft put a bird on it cold-pressed.
          </p>
          <br />
          <p>
            Readymade austin fixie aliqua, offal et helvetica af bitters. Craft beer hoodie hashtag tempor, readymade asymmetrical cliche four loko pickled minim reprehenderit. Esse pabst semiotics, locavore prism ex photo booth snackwave franzen four dollar toast fam authentic put a bird on it shabby chic. Sunt ut fingerstache seitan, palo santo bicycle rights echo park. Farm-to-table eu microdosing minim, man bun synth master cleanse viral. Nisi butcher laborum biodiesel wolf paleo fashion axe cray four dollar toast mumblecore, succulents franzen do. Cloud bread raclette incididunt semiotics fixie.
          </p>
        </div>
        <div class="content_header">
          <h1>Our Team</h1>
        </div>
        <div class="content_box box_2">
          <p>
            Chartreuse single-origin coffee hella PBR&B artisan godard. Blue bottle pour-over synth, blog kombucha ennui aesthetic elit salvia. Kickstarter cillum seitan asymmetrical etsy irony proident prism typewriter consequat photo booth tempor meditation. Fanny pack fingerstache narwhal et, taxidermy semiotics direct trade raclette commodo anim.
          </p>

          <div class="staff_bios">
            <p>
              pics here
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>




<% include partials/footer %>
