<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Bikes</h1>
        </div>
        <div class="content_box box_1">
          <h3>Brands</h3>

        </div>
        <div class="content_box box_2">
          <h3>Kids Bikes</h3>

        </div>
        <div class="content_box box_3">
          <h3>Upgrades</h3>

        </div>
      </div>
  </div>


</main>






<% include partials/footer %>
