<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Bikes</h1>
        </div>
        <div class="content_box box_1">
          <h3>Brands</h3>
          <div class="product_container bike_grid">
            <div class="header">
              <p>We carry a wide variety of bikes to suit any sort of riding you might be into. Whether you want to get into organized racing or are just looking for something to cruise the streets on the weekend, we can meet your needs.</p>
            </div>
            <div class="product_info brands">
              <ul>
                <li><img src="/images/spec_name.png"></li>
                <li><img src="/images/scott_name.png"/></li>
                <li><img src="/images/cannondale_name.png"></li>
                <li><img src="/images/transition_name_1.png"/></li>
                <li><img src="/images/raleigh_name.jpg"/></li>
              </ul>
            </div>
            <div class="product_photo pic">
              <img src="https://www.spinlister.com/blog/wp-content/uploads/2017/01/best-bike-shop-5.jpg"/>
            </div>
          </div>

        </div>
        <div class="content_box box_2">
          <h3>Kids Bikes</h3>
          <div class="product_container bike_grid2">
            <div class="product_info header">
              <p>If your looking for a ride for your little one, we carry a full line of childrens's bikes. We carry everything from balance bikes for toddlers to 24in mountain bikes for those that aren't quite ready for a full sized bike.</p>
            </div>
            <div class="product_photo pic">
              <img src="https://singletrackworld.com/wp-content/blogs.dir/1/files/2017/08/Cannondale2018-01-1200x800.jpg"/>
            </div>
          </div>

        </div>

        </div>
        <div class="content_box box_3">
          <h3>Upgrades</h3>
          <div class="product_container bike_grid2">
            <div class="product_info header">
              <p>Looking to add some new life into an old ride? Let us help. Whether your looking to jump into a new era of cycling technology or get a racer's edge we can help you pick the componant to add to your ride.</p>
            </div>
            <div class="product_photo pic">
              <img src="https://depts.washington.edu/matseed/mse_resources/Webpage/Bicycle/Explodedl-view_files/image002.jpg"/>
            </div>
          </div>

        </div>
      </div>
  </div>


</main>






<% include partials/footer %>
