<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Clothing</h1>
        </div>
        <div class="content_box box_1">
          <h3>What We Offer</h3>
          <div class="product_container clothing_grid">
            <div class="product_info header">
              <p>Proper attire is one aspect of cycling that can often be easily taken for granted. The right kit and clothing can provide more than just a fashion statement. Luminescent clothing can provide saftey by increasing visibility and a good pair of chamois (padded shorts) or dressing appropiatly for the weather can be a game changer in regards to comfort. We stock clothing for all seasons and tempuratures. And if there is anything you'd like to see, just let us know and we can order it! </p>
            </div>
            <div class="product_photo pic2">
              <img src="http://www.seankellycycling.com/uploads/2/6/6/4/26645202/1428341783.png"/>
            </div>
            <div class="product_photo pic">
              <img src="https://static.shoplightspeed.com/shops/603328/files/004294326/verge-campus-shop-team-cycling-jersey-mens.jpg"/>
              <div class="text-block">
                <h2>Check Out our Shop Kit!</h2>
              </div>
            </div>
            <div class="product_info brands">
              <ul>
                <li><a href="https://www.specialized.com/jp/en" target="_blank"><img src="/images/logos/spec_name.png"></a></li>
                <li><a href="https://handupgloves.com/" target="_blank"><img src="/images/logos/handup_name.png"/></a></li>
                <li><a href="http://www.pearlizumi.com/" target="_blank"><img src="/images/logos/pearlI_name.png"></a></li>
                <li><a href="https://ridgesupply.com/" target="_blank"><img src="/images/logos/ridgesupply_name.png"/></a></li>
                <li><a href="http://www.giro.com/us_en/#" target="_blank"><img src="/images/logos/giro_name.png"/></a></li>
                <li><a href="https://www.troyleedesigns.com/" target="_blank"><img src="/images/logos/troylee_name.png"/></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>

<% include partials/footer %>
