<% include partials/header %>

<main>


  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Professional Coaching</h1>
        </div>
        <div class="content_box box_1">
          <div class="product_container bike_grid">
            <div class="header">
              <p>
                Whether you are just getting started or you want to take your riding to the next level, mountain bike skills instruction can benefit any rider. Our IMBA ICP Level II certified skills instructor will break down each skill into manageable pieces, then teach you how to put them all together while providing valuable feedback. Lessons are typically taught in our local park, starting with learning skills in a grassy field and then practicing on singletrack. We offer private or group lessons, and each clinic is tailored to fit the individual or group needs. Some key skills that we cover include:
              </p>
            </div>
            <div class="skills brands">
              <ul>
                <li class="text_clr1">Neutral & Ready Position</li>
                <li class="text_clr2">Bike/Body Separation</li>
                <li class="text_clr1">Braking</li>
                <li class="text_clr2">Shifting</li>
                <li class="text_clr1">Ratcheting</li>
                <li class="text_clr2">Straight Line Riding</li>
                <li class="text_clr1">Tight Turns & Switchbacks</li>
                <li class="text_clr2">Climbing & Descending</li>
                <li class="text_clr1">Climbing and Descending Dismounts & Restarts</li>
                <li class="text_clr2">Wheel Lifts</li>
                <li class="text_clr1">Roll Downs</li>
                <li class="text_clr2">Cornering</li>
              </ul>
            </div>
            <div class="product_photo pic">
              <img src="http://www.blackwaterbikeshop.com/images/instruction.jpg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="content_container">
        <div class="content_header">
          <h1>Pricing</h1>
        </div>
        <div class="content_box box_1">
          <div class="product_container pricing_grid">
            <div class="coaching_prices brands">
              <ul>
                <li class="text_clr1">Private Instruction: $40/hour</li>
                <li class="text_clr2">Up to 4 people: $25/hr per person</li>
                <li class="text_clr1">There is a 2 hour minimum for the first lesson</li>
                <li class="text_clr2">Group clinics can be tailored to your needs</li>
                <li class="text_clr1">Email info@blackwaterbikeshop.com or call the shop at 434-385-7047 to schedule a lesson</li>
              </ul>
            </div>
            <div class="product_photo pic">
              <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/c135.0.809.809/20905704_1183736118399076_7829064118853173248_n.jpg?ig_cache_key=MTU4NTE3NjE4NTkwMTg2MTUyOQ%3D%3D.2.c&se=7"/>
            </div>
          </div>
        </div>
      </div>
      <div class="content_container">
        <div class="content_header">
          <h1>About the Instructor</h1>
        </div>
        <div class="content_box box_1">
          <div class="product_container bike_grid2">
            <div class="header">
              <p>
                Kelly Hazlegrove has been an avid mountain biker since 2006 after being introduced to the sport by her now-husband, Blackwater Bike Shop owner Davy Hazlegrove. She developed an immediate interest in technical riding and improving her bike handling skills, and soon thereafter began sharing her love of riding with others as co-founder and current president of the Greater Lynchburg Off-Road Cyclists (GLOC). She has been instructing and leading rides for the past four years before becoming an IMBA-certified coach in 2014. She has dabbled in XC, endurance, downhill, and enduro racing but mostly loves going out for a rip with friends and helping to build confidence through skills development on the trail.
              </p>
            </div>

            <div class="product_photo pic">
              <img src="https://www.snowshoemtn.com/-/media/snowshoe/summer/hazlegrovekelly694.ashx?h=752&w=694&hash=9D36109C173F36288A96753E1B89713B4850BC35"/>
            </div>
          </div>
        </div>
      </div>
  </div>



</main>





<% include partials/footer %>
