<% include partials/header %>

<main>


  <<div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Group Rides</h1>
        </div>
        <div class="content_box box_1">
          <p>
            Chartreuse single-origin coffee hella PBR&B artisan godard. Blue bottle pour-over synth, blog kombucha ennui aesthetic elit salvia. Kickstarter cillum seitan asymmetrical etsy irony proident prism typewriter consequat photo booth tempor meditation. Fanny pack fingerstache narwhal et, taxidermy semiotics direct trade raclette commodo anim.
          </p>
          <p>
            Chartreuse single-origin coffee hella PBR&B artisan godard. Blue bottle pour-over synth, blog kombucha ennui aesthetic elit salvia. Kickstarter cillum seitan asymmetrical etsy irony proident prism typewriter consequat photo booth tempor meditation. Fanny pack fingerstache narwhal et, taxidermy semiotics direct trade raclette commodo anim.
          </p>

        </div>
      </div>
  </div>



</main>





<% include partials/footer %>
