<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Group Rides</h1>
        </div>
        <div class="content_box box_1">
          <p>
            If you're looking for a good crew of like minded adventurers to hit either the trails or the pavement with, then you've come to the right place! The cycling community here in Lynchburg is active and friendly. There are group rides going throughout the year.
          </p>
          <div class="card_container">
            <div class="group_card">
              <div class="group_card_pic">
                <a href="#" target="_blank">
                  <img src="/images/RBREd.jpg"/>
                </a>
              </div>
              <div class="card_text">
                <p>
                  Our biggest and most popular group ride from the shop is our <strong>Root Beer Ride</strong>. This is a beautiful 22 mile ride through rolling countryside of Forest, VA on Mondays during the months of April through August. Meet us at the shop at 6pm to join in this fun no drop ride!
                </p>
              </div>
            </div>
            <div class="group_card">
              <div class="group_card_pic group_gloc">
                <a href="http://ridewithgloc.com/" target="_blank">
                  <img src="/images/IMBA_GLOC_sm.png"/>
                </a>
              </div>
              <div class="card_text">
                <p>
                  For info on the local imba (International Mountain Biking Association) chapter and organized trail rides, please consider joining up with the Greater Lynchburg Offroad Cyclists (GLOC).
                </p>
              </div>
            </div>
            <div class="group_card">
              <div class="group_card_pic">
                <a href="https://www.facebook.com/Blackwater-Bike-Shop-49810134946" target="_blank">
                  <img src="/images/bw_logo_lgEd.jpg" alt="blackwater bike shop facebook"/>
                </a>
              </div>
              <div class="card_text">
                <p>
                  To stay caught up on all the smaller group rides, please follow our <a href="https://www.facebook.com/Blackwater-Bike-Shop-49810134946/" target="_blank"><i class="fab fa-facebook-f"></i>acebook</a> page for up to date information! And please feel free to organize a group ride and post to the page as well!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>

<% include partials/footer %>
