<% include partials/header %>

      <div class="jumbotron jumbotron-logo">
          <div class="orange-chev-1">
            <img src="/images/Chevron-orange.png" />
          </div>
          <div class="logo-banner">
            <img src="/images/Text_Logo_BW.png"/>
          </div>
          <div class="orange-chev-2">
            <img src="/images/Chevron-orange.png" />
          </div>
      </div>



      <div class="container container-carousel">
        <div class="fade">
          <div class="car-image">
            <img src="https://images.unsplash.com/photo-1421429167374-8fc8ab6d0f66?ixlib=rb-0.3.5&s=7412dcf079c173439ea84c7ca354f352&auto=format&fit=crop&w=1350&q=80"/>
          </div>
          <div class="car-image">
            <img src="https://images.unsplash.com/photo-1435226148432-67c26cc5cbaf?ixlib=rb-0.3.5&s=08311ddf80ecc387b8ba4d72543bc8f9&auto=format&fit=crop&w=1808&q=80"/>
          </div>
          <div class="car-image">
            <img src="https://images.unsplash.com/photo-1464336939748-2d8412c5d19d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=92d8069f9f61cad38f874b11b7da23a1&auto=format&fit=crop&w=1790&q=80"/>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="jumbotron_home">
            <h1 class="display-4">What will go Here??</h1>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
      </div>





<% include partials/footer %>
