<% include partials/header %>

      <div class="jumbotron jumbotron-logo">
          <div class="logo-banner">
            <img src="/images/blackwater_bikeshop_orange_logo.png"/>
          </div>
      </div>
      <div class="container container-carousel">
        <div class="fade">
          <div class="car-image">
            <a href="/repairs" target="_blank"><img src="https://images.unsplash.com/photo-1421429167374-8fc8ab6d0f66?ixlib=rb-0.3.5&s=7412dcf079c173439ea84c7ca354f352&auto=format&fit=crop&w=1350&q=80"/></a>
            <div class="text-block car-block1">
              <h2>Spring is coming, need help getting your bike in shape?</h2>
            </div>
          </div>
          <div class="car-image">
            <a href="/local_rides" target="_blank"><img src="https://images.unsplash.com/photo-1435226148432-67c26cc5cbaf?ixlib=rb-0.3.5&s=08311ddf80ecc387b8ba4d72543bc8f9&auto=format&fit=crop&w=1808&q=80"/></a>
            <div class="text-block car-block2">
              <h2>Check out the local rides!</h2>
            </div>
          </div>
          <div class="car-image">
            <a href="/rentals" target="_blank"><img src="https://images.unsplash.com/photo-1464336939748-2d8412c5d19d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=92d8069f9f61cad38f874b11b7da23a1&auto=format&fit=crop&w=1790&q=80"/></a>
            <div class="text-block car-block3">
              <h2>Check Out our Rentals!!</h2>
            </div>
          </div>
          <div class="car-image">
            <a href="/rentals" target="_blank"><img src="/images/bikeDamselEd.jpg"/></a>
            <div class="text-block car-block3">
              <h2>Talk with our friendly staff!!</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="store_front ">
            <div class="jumb_img">
              <img src="/images/shop_front.jpg">
              <div class="text-block car-block3">
                <h2>Come visit us at our shop!!</h2>
              </div>
            </div>
      </div>


<% include partials/footer %>
