<% include partials/header %>

<main>
  <div class="page_content">
    <div class="weather_wig">
      <a class="weatherwidget-io" href="https://forecast7.com/en/37d41n79d14/lynchburg/?unit=us" data-label_1="LYNCHBURG" data-label_2="WEATHER" data-font="Roboto" data-icons="Climacons Animated" data-theme="blue-mountains" >LYNCHBURG WEATHER</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
      </script>
    </div>


    <div class="content_wrapper">
      <div class="lr_content_containter">
        <div class="lr_content_header">
          <h1>Trails</h1>

        </div>
        <div class="lr_content_box box_1">
          <h3>Candler's Mt</h3>


          <!-- BEGIN MTB Project -->
          <div class="trail_map">
            <iframe class="trail_map" style="width:100%; max-width:1100px; height:550px;" frameborder="0" scrolling="no" src="https://www.mtbproject.com/widget/map?favs=1&location=fixed&x=-8810595&y=4489020&z=13&h=550"></iframe>
          </div>

          <!-- END MTB Project -->

        </div>
      </div>
      <div class="lr_content_containter">

        <div class="lr_content_box box_2">
          <h3>Peaks View Park</h3>
          <!-- BEGIN MTB Project -->
          <div class="trail_map">
            <iframe class="trail_map" style="width:100%; max-width:1100px; height:500px;" frameborder="0" scrolling="no" src="https://www.mtbproject.com/widget/map?favs=1&location=fixed&x=-8818584&y=4498545&z=13&h=500"></iframe>
          </div>

          <!-- END MTB Project -->

        </div>
      </div>
      <!-- <div class="lr_content_containter">

        <div class="lr_content_header">
          <h1>Road Routes</h1>
        </div>
        <div class="lr_content_box box_2">
          <p>
            Lorem ipsum dolor amet before they sold out nisi truffaut ennui hammock etsy. Neutra hella messenger bag blue bottle, deserunt pariatur truffaut id. Slow-carb iceland vinyl, pabst locavore neutra unicorn snackwave meggings seitan cardigan austin tattooed adipisicing. Venmo eu art party tacos chia aesthetic beard affogato plaid lyft put a bird on it cold-pressed.
          </p>
          <br />
          <p>
            Readymade austin fixie aliqua, offal et helvetica af bitters. Craft beer hoodie hashtag tempor, readymade asymmetrical cliche four loko pickled minim reprehenderit. Esse pabst semiotics, locavore prism ex photo booth snackwave franzen four dollar toast fam authentic put a bird on it shabby chic. Sunt ut fingerstache seitan, palo santo bicycle rights echo park. Farm-to-table eu microdosing minim, man bun synth master cleanse viral. Nisi butcher laborum biodiesel wolf paleo fashion axe cray four dollar toast mumblecore, succulents franzen do. Cloud bread raclette incididunt semiotics fixie.
          </p>
        </div>
      </div> -->

    </div>
  </div>
</main>

<% include partials/footer %>
