<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Local Races</h1>
        </div>
        <div class="content_box box_1">
          <p>
            Looking to fuel your competitive spirit? Maybe you just want some extra motivation to push your workouts a bit harder? Then seriously consider signing up for some local races. There are not nearly as intimidating as you might think. They are a great way to feed into the local cycling community and meet some great people at the same time. You can see whats happening through the link below.
          </p>
          <div class="raceReg">
              <a href="https://www.bikereg.com/" target="_blank"><img class="sm_img" src="/images/logos/bikereg_2block.png" alt="BikeReg race registration"/></a>
          </div>
        </div>
        <div class="content_header">
          <h1>Race Team</h1>
        </div>

        <div class="content_box box_2">
          <p>
            If you love riding and have a bit of competitive spirit, or just enjoy having fun with people in a friendly welcoming atmosphere, then you should consider joining the Blackwater Bike Shop Race Team. This is a team composed of all sorts of riders in all skill levels. Just because your not a pro doesn't mean you can't have fun with the team!
          </p>
          <h3>Team Expectations</h3>
          <div class="team_expectations team_grid_1">
            <div class="header">
              <p class="text_clr2">4 races in our regional area per year</p>
              <p class="text_clr1">2 hours of trail work in the weeks leading up to the Hill City Hootenanny Peaks View race </p>
              <p class="text_clr2">Lead one (or more!) group ride (mountain or road or Rootbeer Ride) per year.</p>
              <p class="text_clr1">Be ambassadors for our shop! Talk us up, tag us on social media, be a responsible rider</p>
              <p class="text_clr2">Follow IMBA's <a href="https://www.imba.com/ride/imba-rules-of-the-trail" target="_blank">rules of the trail</a>, and be the all-around cool person that you already are.</p>
            </div>
            <div class="product_photo pic">
              <img src="/images/race_group2Ed.jpg" alt="Blackwater Bike Shop race team Lynchburg Virgina"/>
              <!-- <div class="text-block">
                <h2>Check Out our Shop Kit!</h2>
              </div> -->
            </div>
          </div>
          <h3>Team Perks!</h3>
          <div class="team_perks team_grid_2">
            <div class="header">
              <p class="text_clr2">The Team kit!!</p>
              <p class="text_clr1">$25 towards race fees per year</p>
              <p class="text_clr2">MERCHANDISE DISCOUNT:   Blackwater Bike Shop will give team members in good standing a 15% discount on in-stock bike parts, equipment, clothing and accessories (subject to availability)(most special orders can get this discount as well)</p>
              <p class="text_clr1">BICYCLE DISCOUNT:  Check with us for special deals just for you when you are ready for a new bike! </p>
              <p class="text_clr2">SERVICE PERKS:  You get to jump to front of repair line if there is an emergency before a race or group ride.</p>
            </div>
            <div class="product_photo pic">
              <img src="/images/shop_kitEd.jpg" alt="Blackwater Bike Shop Jersey" />
              <div class="text-block">
                <h2>Check Out our Shop Kit!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>


<% include partials/footer %>
