<% include partials/header %>

<main>


  <<div class="page_content">



    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Repairs</h1>

        </div>
        <div class="content_box box_1">
          <h3>Bikes</h3>
          <div class="">

          </div>
          <h3>Clothing</h3>
          <div class="">


          </div>
          <h3>Racks</h3>
          <div class="">

            <div>
              <p>
                We are the only shop locally to offer a full range of service work on your front and rear suspension. This include everything from changing the oil to a complete overhaul and rebuild. Fanny pack fingerstache narwhal et, taxidermy semiotics direct trade raclette commodo anim.
              </p>

              
            </div>
          </div>


        </div>
      </div>

  </div>



</main>





<% include partials/footer %>
