<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Race Team</h1>
        </div>
        <div class="content_box box_1">
          <p>
            If you love riding and have a bit of competitive spirit, or just enjoy having fun with people in a friendly welcoming atmosphere, then you should consider joining the Blackwater Bike Shop Race Team. This is a team composed of all sorts of riders in all skill levels. Just because your not a pro doesn't mean you can't have fun with the team!
          </p>
        </div>
        <div class="content_box box_2">
          <h3>Team Expectations</h3>
          <div class="team_expectations">
            <p>-4 races in our region/locality per year (but we are counting Storming of Thunder Ridge since it's an amazing high-profile local event)</p>
            <p>-2 hours of trail work in the weeks leading up to the Hill City Hootenanny Peaks View race (mainly vegetation cut-back/removal)</p>
            <p>-Lead one (or more!) group ride (mountain or road or Rootbeer Ride) per year.</p>
            <p>-Be ambassadors for our shop! Talk us up, tag us on social media, be a responsible rider</p>
            <p>-Gollow IMBA's rules of the trail (https://www.imba.com/about/rules-trail), and be the all-around cool people that you already are.</p>
          </div>
        </div>
        <div class="content_box box_3">

          <h3>Team Perks!</h3>
          <div class="team_perks left_float">
            <p>-The kit </p>
            <p>-$25 towards race fees per year (hopefully this will increase as we get more sponsors!)</p>
            <h4>Discounts at the shop!!</h4>
            <p>MERCHANDISE DISCOUNT:   Blackwater Bike Shop will give team members in good standing a 15% discount on in-stock bike parts, equipment, clothing and accessories (subject to availability)(most special orders can get this discount as well)</p>
            <p>BICYCLE DISCOUNT:  Check with us for special deals just for you when you are ready for a new bike! </p>
            <p>SERVICE PERKS:  You get to jump to front of repair line if there is an emergency before a race or group ride.</p>
          </div>
          <div class="product_photo team right_float">
            <img src="https://static.shoplightspeed.com/shops/603328/files/004294326/verge-campus-shop-team-cycling-jersey-mens.jpg"/>
            <div class="text-block">
              <h2>Check Out our Shop Kit!</h2>
            </div>
          </div>
        </div>
      </div>
  </div>



</main>






<% include partials/footer %>
