<% include partials/header %>

<main>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Racks</h1>
        </div>
        <div class="content_box box_1">
          <h3>Brands</h3>
          <div class="product_container">
            <div class="product_info brands_lg">
              <ul>
                <li><a href="https://www.yakima.com/" target="_blank"><img src="/images/logos/yakima_logo.jpg" alt="yakima racks"></a></li>
                <li><a href="https://www.thule.com/en-us/us" target="_blank"><img src="/images/logos/Thule_logo.png" alt="thule racks"></a></li>
                <li><a href="http://www.kuatracks.com/" target="_blank"><img src="/images/logos/kuat_logo.png" alt="kuat racks"></a></li>
              </ul>
            </div>
          </div>
          <h3>Hitch Install</h3>
          <div class="product_container">
            <div class="header">
              <p>
                In addition to racks we sell hitches and are able to custom order them to your specific vehicle. We also provide an installation service to install hitches to your vehicle. So, please come see us to get all of your bike transportation needs taken care of.
              </p>
            </div>
            <div class="product_photo pic">
              <img src="/images/hitch_installEd.jpg" alt="hitch installation"/>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>

<% include partials/footer %>
