<% include partials/header %>

<main>
  <div class="cover"></div>
  <div class="page_content">
    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Bike Rentals</h1>
        </div>
        <div class="content_box box_1">
          <h3>
            In town for the weekend? Need a ride?
          </h3>
          <p>
          Whether you are just checking out what central Virginia trails have to offer or in town for a nearby race, we can get you set up with a sweet ride to get you on your way. For <strong>$50/day</strong> we rent out high end mountain bikes and road bikes. From aero race machines to big travel juggernauts. We will set the bike's suspension and fit to you personally. If you prefer to ride with your own pedals, you can bring them with you and we will insall them. All rentals will be given a safety inspection prior to and after being rented out.
          </p>
          <ul>
            <li>The rental period is 1 business day, from the shops opening to 30 min prior to closing. An extra day may be charged if returned late.</li>
            <li><strong>Please be propared to give credit card info and a copy of a valid driver's liscense.</strong></li>
            <li>Must be 18 years of age or accompanied by a guardian to rent a bicycle.</li>
          </ul>

        <h3>Bike Selection</h3>
        <div class="bikecatalog_container">
          <ul class="list">
            <li>
              <div class="rental_image">
                <img src="https://forum.gorctrails.com/uploads/monthly_06_2015/post-6753-0-58376900-1435688249.jpg" />
              </div>
              <div class="rental_desc">
                <h4>Specialized Stumpjumper</h4>
                <p>This is a brief desc</p>
                <p>Sizes: M, L</p>
                <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
              </div>
            </li>
            <li>
              <div class="rental_image">
              <img src="http://www.treadmtb.co.za/wp-content/uploads/2015/08/SpecializedEpicComp-11.jpg" />
              </div>
            <div class="rental_desc">
              <h4>Specialized Epic</h4>
              <p>This is a brief desc</p>
              <p>Sizes: M, L</p>
              <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
            </div></li>
            <li>
              <div class="rental_image">
              <img src="http://www.sicklines.com/wp-content/uploads/2014/09/transition-bikes-smuggler1.jpg" />
              </div>
              <div class="rental_desc">
              <h4>Transition Smuggler</h4>
              <p>This is a brief desc</p>
              <p>Sizes: L</p>
              <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
              </div>
            </li>
            <li>
              <div class="rental_image">
                <img src="http://i305.photobucket.com/albums/nn232/indyzane/DA8A6C5C-1FDB-4C22-8E8B-1D4DBA6F8736-374-000000150B377F23_zpscf213401.jpg" />
              </div>
              <div class="rental_desc">
                <h4>This is the Bike Model</h4>
                <p>This is a brief desc</p>
                <p>Sizes: M</p>
                <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
              </div>
            </li>
            <li>
              <div class="rental_image">
              <img src="http://i970.photobucket.com/albums/ae188/superstrong/DSCF2564.jpg" />
              </div>
              <div class="rental_desc">
                <h4>Scott Foil</h4>
                <p>This is a brief desc</p>
                <p>Sizes: 54cm, 56cm</p>
                <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
              </div>
            </li>
            <li>
              <div class="rental_image">
                <img src="http://highergearchicago.com/wp-content/uploads/2016/01/2016-Specialized-Fatboy-Comp-Carbon-685x514.jpg" />
              </div>
              <div class="rental_desc">
                <h4>Specialized Fatboy</h4>
                <p>This is a brief desc</p>
                <p>Sizes: M</p>
                <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
              </div></li>
            <li>
              <div class="rental_image">
                <img src="https://i.ebayimg.com/00/s/NjAwWDgwMA==/z/ciMAAOSwXeJYMbEY/$_86.JPG" />
              </div>
              <div class="rental_desc">
                <h4>Scott Scale</h4>
                <p>This is a brief desc</p>
                <p>Sizes: M, L</p>
                <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
              </div>
            </li>
            <li>
              <div class="rental_image">
                <img src="https://i.ytimg.com/vi/9EIp3mkhRow/maxresdefault.jpg" />
              </div>
              <div class="rental_desc">
                <h4>Scott Genius</h4>
                <p>This is a brief desc</p>
                <p>Sizes: M</p>
                <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
              </div>
            </li>
            <li>
              <div class="rental_image">
                <img src="http://i305.photobucket.com/albums/nn232/indyzane/DA8A6C5C-1FDB-4C22-8E8B-1D4DBA6F8736-374-000000150B377F23_zpscf213401.jpg" />
              </div>
              <div class="rental_desc">
                <h4>This is the Bike Model</h4>
                <p>This is a brief desc</p>
                <p>Sizes: available</p>
                <p><a href="#" class="reserve_button" onclick="div_show()">Reserve Now!</a></p>
              </div>
            </li>
          </ul>
        </div>
        <div id="form" class="rentalForm form">
          <h1>Reserve Your Ride!!</h1>
          <form action="https://formspree.io/cldeaton24@gmail.com" method="post">
            <input type="text" name="firstName" placeholder="First Name" required/>
            <input type="text" name="lastName" placeholder="Last Name" required/>
            <input type="email" name="email" placeholder="Email" />
            <input type="text" name="phone" placeholder="Phone Number" />
            <input type="text" name="bikeModel" placeholder="Bike Model" required/>
            <input type="text" name="bikeSize" placeholder="Bike Size" required/>
            <textarea  name="rentalNotes" placeholder="Special notes, etc..." ></textarea>
            <span>
              <p>
              Pick Up Date:
            </p>
            </span>
            <input type="date" name="pickUpDate" class="mydate"/>
            <span>
              <p>
                Drop Off Date:
              </p>
            </span>
            <input type="date" name="dropOffDate" class="mydate"/>
            <input class="rentalBtn" type="submit"/>
            <input type="hidden" name="_next" value="/rentals" />
            <input type="hidden" name="_subject" value="Bike Reservation!" />
            <input type="text" name="_gotcha" style="display:none" />
          </form>
          <a class="closeForm" onclick="close_form()">
            <div class="closeCircle">
              <i class="fas fa-lg fa-times"></i>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</main>


<% include partials/footer %>
