<% include partials/header %>

<main>


  <<div class="page_content">



    <div class="content_wrapper">
      <div class="content_containter">
        <div class="content_header">
          <h1>Repairs</h1>

        </div>
        <div class="content_box box_1">
          <h3> Standard Maintenance</h3>
          <div>
            <p>
              Quick Tune-up....................... $24.99
              <br />
              adjusts gears and brakes, lube cables and chain
              <br />
              Basic Tune-up: ..................... $39.99
              <br />
              adjustments above plus all bearings/pivots adjusted and test ride
              <br />
              Tune-up and wheel true: ............ $49.99
              <br />
              adjustments above plus precision wheel true
              <br />
              Bicycle Assembly: .................. $45 (certain bikes may vary)
              <br />
              New Bicycle Assembly: ............... $45-75
              <br />
              Install cable (shifter or brake): .... $8
              <br />
              Brake Adjustment: ..................... $6
              <br />
              Derailleur Adjustment: ................ $6
              <br />
              Wheel truing: ......................... $15/wheel
              <br />
              Wheel building:........................ $35/wheel
              <br />
              Suspension fork oil change:............. $45
              <br />
              Flat repair: ............................ $13
              <br />
              includes new standard level tube
            </p>
          </div>

        </div>
      </div>
      <div class="content_containter">

        <div class="content_box box_2">
          <h3>Suspension Service</h3>
          <div>
            <p>
              Chartreuse single-origin coffee hella PBR&B artisan godard. Blue bottle pour-over synth, blog kombucha ennui aesthetic elit salvia. Kickstarter cillum seitan asymmetrical etsy irony proident prism typewriter consequat photo booth tempor meditation. Fanny pack fingerstache narwhal et, taxidermy semiotics direct trade raclette commodo anim.
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>



</main>





<% include partials/footer %>
