<p><% include partials/header %>

<main>


  <div class="page_content">



    <div class="content_wrapper">
      <div class="content_container">
        <div class="content_header">
          <h1>Tune-up</h1>

        </div>
        <div class="content_box box_1">
          <div class="tune-up_container tune-up_grid">
            <div class="tu_quick repair_grid_cell">
              <h4>Quick Tune</h4>
              <p>
                <i class="fas fa-2x fa-bicycle"></i>
              </p>
              <p>$24.99</p>
              <p>Adjust front & rear gears and brakes</p>
              <p>Lubricate Chain and Cables</p>
              <p>Inflate Tires</p>
              <p>Complete Safety Inspection</p>
            </div>
            <div class="tu_standard repair_grid_cell">
              <h4>Standard Tune</h4>
              <p>
                <i class="fas fa-2x fa-cog"></i>
              </p>
              <p>$39.99</p>
              <p>All the Services of the Quick Tune plus:</p>
              <p>Check and Adjust Wheel Bearings</p>
              <p>Check and Adjust Bottom Bracket and Headset</p>
              <p>Adjust and Tighten Linkages and Other Moving Parts </p>
              <p>Test Ride for Optimizing Adjustments</p>
            </div>
            <div class="tu_true repair_grid_cell">
              <h4>Tune and True</h4>
              <p>
                <i class="fas fa-2x fa-cogs"></i>
              </p>
              <p>$49.99</p>
              <p>All the Services of the Standard Tune plus:</p>
              <p>Precision Wheel True on Both Wheels</p>
            </div>
          </div>
        </div>
        <div class="content_header">
          <h1>A-La-Carte</h1>
        </div>
        <div class="content_box box_2">
          <div class="carte_container">

            <div class="service_group">
              <p>
                <i class="fas fa-2x fa-wrench"></i>
              </p>
              <div class="service_item">
                <p>
                  <p>Bicycle Assembly:</p>
                  <p>New Bicycle Assembly:</p>
                  <p>Install cable (shifter or brake):</p>
                  <p>Brake Adjustment:</p>
                  <p>Brake Bleed:</p>
                  <p>Derailleur Adjustment:</p>
                  <p>Wheel truing:</p>
                  <p>Wheel building:</p>
                  <p>Suspension fork oil change:</p>
                  <p>Flat repair (Includes new tube):</p>
                </p>
              </div>
              <div class="service_price">
                <p>$$</p>
                <p>$$</p>
                <p>$$</p>
                <p>$$</p>
                <p>$$</p>
                <p>$$</p>
                <p>$$</p>
                <p>$$</p>
                <p>$$</p>
                <p>$$</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content_header">
          <h1>Suspension Service</h1>
        </div>
        <div class="content_box box_3">
          <div class="suspension_container">

            <div>
              <p>
                We are the only shop locally to offer a full range of service work on your front and rear suspension. This include everything from changing the oil to a complete overhaul and rebuild. Fanny pack fingerstache narwhal et, taxidermy semiotics direct trade raclette commodo anim.
              </p>
              <p>
                Here are SRAM's receommended service intervals for properly maintaining your bike's suspension system. And you can find a link to FOX's recommended intervals <a href="http://www.ridefox.com/fox_tech_center/owners_manuals/013/Content/Service_Intervals.html" target="_blank"><strong>here</strong></a>!
              </p>
              <div class="sus_chart">
                <img src="/images/sus_chart.png" />
                <!-- <embed src= "/images/Sram_service_chart.pdf" width= "900" height= "575"> -->

              </div>
            </div>
          </div>
        </div>
      </div>

  </div>



</main>





<% include partials/footer %>
