.container {
	margin: 0 auto;
	max-width: 100%;
}

.container-carousel {
	/* border: 2px solid yellow; */
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.car-image img {
	position: relative;
	width: 100%;
	height: auto;
	max-height: 500px;
}
.logo-row {
  height: 288px;
  width: 100%;
  /* max-width: 87.5rem; */
}

.brand-image {
  padding-bottom: 3px;
  text-align: center;
  margin: auto 10px;

}
.brand-image img {
  display: inline-block;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.75);
	height: 130px;
  max-height: 100%;
  width: 215px;
  max-width: 100%;
  vertical-align: middle;
  border: none;
  opacity: 1.0;
  border-radius: 15px;
}

/* img:hover {
    opacity: 1.0;
} */

.logo-carousel {
  height: 130px;
  width: 100%;
  position: relative;
  padding: 50px 0 50px 0;
  overflow: hidden;
  margin: auto 0;
  float: left;
}
.slick-slider {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: block;
}
