.lr_content_box h3 {
  /* background: rgba(255, 255, 255, 0.79); */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  height: 20%;
  padding: 3px 5px;
  margin: 0 auto;
  grid-area: head;
  width: 200px;
}
.trail_map {
  margin: 5px auto;
  grid-area: map;
  width: 100%;
  max-width: 1100px;
  height: 550px;
}


/* Responsiveness================== */

@media (max-width:700px) {
  .lr_content_box {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "map";
    height: 1000px;
  }

  .trail_map{
    max-height: 300px;
  }
  .lr_content_box h3 {
    height: 20%;
    padding: 4px 6px;
    margin: 0 auto;
  }
}
