.image-brand {
  position: relative;
	width: 100%;
  max-width: 60px;
	height: 40px;
	max-height: 70px;
  margin-top: 5px;
  margin-bottom: 0;
}
.navbar-brand {
  padding: 0;
}
/* CSS Document */



.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav {
	margin:0;
	padding: 0;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(89, 87, 87, 0.99), #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 99999;
}
.drop-nav {
  position: sticky;
}

#logo {
	display: block;
	padding: 5px 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: none;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}

/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	/* background-color: transparent; */
	}

/* Styling the links */
nav ul li > a {
	display:block;
	padding:22px 20px;
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}





/* Background color change on Hover */
/* nav a:hover {
  color: #fff;
} */




/* Display Dropdowns on Hover */
/* nav ul li:hover > ul {
	display:inherit;
  color: #000;
} */

/* Fisrt Tier Dropdown */
/* nav ul ul li {
	width:170px;
	float:none;
	/* display:list-item; */
	/* position: relative; */
  z-index: 99999;
} */

/* Mega Menu==================== */

.dropdown {
  overflow: hidden;
  position: relative;
}

.dropdown ul {
  /* display: none; */
  position: absolute;
  background-color: rgba(19, 20, 20, 0.85);
  width: 100%;
  overflow: hidden;
  height: 0;
  left: 0;
  z-index: 1;
  transition: height .4s ease;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.dropdown:hover ul {
  /* display: block; */
  height: 350px;
}
.menu-column {
  /* flex: 1 1 350px; */
  float: left;
  max-width: 600px;
  margin: 10px auto;
  height: 500px;
  padding: 10px;
  height: 250px;
}
.menu-column h3 {
  color: #fff;
  margin: 10px 0;
}
.menu-column a {
  float: none;
  color: #fff;
  padding: 0;
  text-decoration: none;
  display: block;
  text-align: left;
}
.menu-column img:hover {
   background-color: #ddd;
}
.menu-row:after {
  content: "";
  display: table;
  clear: both;
}


.item:before {
  content: "[  ";
  position: absolute;
  left: 4px;
  visibility: hidden;
  transition: transform .3s ease-in;
}
.item:hover:before {
  visibility: visible;
  transform: translateX(9px);
}
.item:after {
  content: "  ]";
  position: absolute;
  right: 5px;
  visibility: hidden;
  transition: transform .3s ease-in;
}
.item:hover:after {
  visibility: visible;
  transform: translateX(-8px);
}



.item:hover {
  /* transform-origin: center; */
  transform: scale(1.2);
}



/* Responsiveness=============== */
@media (max-width: 980px) {
    .menu-column {
      max-width: 350px;
    }
    .dropdown ul {
      height: 0;

    }

    .dropdown:hover ul {
      height: 600px;
    }
}

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: transparent;
		padding:14px 20px;
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: rgba(19, 20, 20, 0.85);
    color: #fff;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	/* nav ul ul ul a {
		padding: 0 80px;
	} */

	nav a:hover,
 	nav ul ul a {
		background-color: rgba(19, 20, 20, 0.85);
	}

	nav ul li ul li .toggle,
	nav ul a,
  nav ul ul a{
		padding:14px 20px;
		color:#fff;
		font-size:17px;
	}


	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: transparent;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}

	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}

	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */
	}
}

@media (max-width:450px) {
  .dropdown:hover ul {
    height: 450px;
  }
  .menu-column {
    height: 150px;
    margin: 0 auto;
    height: 200px;
  }
  .menu-column h3 {
    font-size: 17px;
  }
}

@media all and (max-width : 330px) {
	nav ul li {
		display:block;
		width: 94%;
	}
}
