.group_gloc {
  border: 5px solid black;
  /* border-width: 10px;
  border-style: solid;
  border-color:  rgba(56, 175, 20, 0.68); */
  background: linear-gradient(to bottom, #59f30a, #0f3443);
  border-radius:  50%;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.group_gloc img {
  max-width: 95%;
  max-height: 500px;
}
.group_gloc:hover  {
  /* border-color: rgba(21, 113, 184, 0.68); */
  background: linear-gradient(to top, #00c6ff, #1571b8);
  color: #fff;
}
.product_container {
  overflow: auto;
}

.product_photo {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.left_float {
  float: left;
}
.right_float {
  float: right;
}
.nofloat {
  float: none;
}
.product_photo img {
  width: 100%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.product_info img {
  width: 120px;
}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(21, 113, 184, 0.8);
    color: #e6e6e6;
    padding-left: 20px;
    padding-right: 20px;
    width: 40%;
    font-size: .9em;
}
