

.tu_quick {
  text-align: center;
  background: rgba(66, 191, 15, 0.5);
}
.tu_standard {
  text-align: center;
  background: rgba(66, 191, 15, 0.56);
}
.tu_true {
  text-align: center;
  background: rgba(66, 191, 15, 0.63);
}
.tu_works {
  text-align: center;
  background: rgba(66, 191, 15, 0.7);
}
.tune-up_grid {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.repair_grid_cell {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  width: 32%;
  margin: 20px 0px;
  vertical-align: middle;
}
.repair_grid_cell_lg {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  margin: 20px 0px;
}
.repair_grid_cell p {
  font-size: 18px;
  margin: 10px 10px;
}
.repair_grid_cell_lg p {
  font-size: 18px;
  margin: 10px 10px;
}
.carte_container {
  background: rgba(236, 168, 17, 0.6);
  margin: 20px auto;
  padding: 15px 20px;
  overflow: auto;
}
.suspension_container {
  background: rgba(66, 191, 15, 0.6);
  margin: 20px auto;
  padding: 15px 20px;
}

h4 {
  color:#000;
}
.sus_chart {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
.sus_chart img {
  width: 100%;
  max-height: 100%;
}
.service_item {
  float: left;
}
.service_price {
  float: right;
}

/* Fit form========================== */
.fit_form {
  display: none;
  width: 30%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 15px;
  border: 6px solid rgba(250, 100, 20, 0.68);
  background: #fff;
  background-image: url(/images/topography.png);
  position: absolute;
  top: 70%;
  left: 35%;
  z-index: 11;
}
.fit_form form input,textarea {
  display: block;
  width: 50%;
  outline: none;
  border-radius: 10px;
  line-height: 10px;
  margin: 5px auto;
  padding: .4em;
  text-align: center;
}
.fit_form_icon {
  text-align: center;
}
.fit_form_icon svg {
  color: rgba(56, 175, 20, 0.68);
}
.fit_form_btn {
  background: rgba(56, 175, 20, 0.68);
}
/* Coaching================================== */
.text_clr1 {
  color: rgba(113, 115, 113, 1);
  font-size: 20px;

}
.text_clr2 {
  color: rgba(45, 45, 45, 1);
  font-size: 25px;
}
.skills li {
  display: inline-block;
  margin: 5px 10px;
}
/* Responsiveness ============================= */
@media (max-width:850px ) {
  .tune-up_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .repair_grid_cell {
    margin-top: 5px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .fit_form {
    width: 60%;
    left: 15%;
    margin-bottom: 25px;
  }
  .text_clr1 {
    font-size: 15px;
  }
  .text_clr2 {
    font-size: 20px;
  }
}
