/* .tune_grid {
  display: block;
  list-style: none;
  padding: 0;
} */

.tu_quick {
  text-align: center;
  /* padding: 20px; */
  /* width: 33%; */
  background: rgba(21, 113, 184, 0.45);
}
.tu_standard {
  text-align: center;
  /* padding: 20px; */
  /* width: 33%; */
  background: rgba(21, 113, 184, 0.6);
}
.tu_true {
  text-align: center;
  /* padding: 20px; */
  /* width: 33%; */
  background: rgba(21, 113, 184, 0.75);
}
.tune-up_grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.repair_grid_cell {
  /* display: inline-block;
  vertical-align: top;
  margin: 0; */
  width: 32%;
  margin: 20px 15px;
}
.repair_grid_cell p {
  font-size: 18px;
}
.carte_container {
  background: rgba(236, 168, 17, 0.6);
  /* max-width: 65%; */
  margin: 20px auto;
  padding: 15px 20px;
  overflow: auto;
}
.suspension_container {
  background: rgba(66, 191, 15, 0.6);
  /* max-width: 65%; */
  margin: 20px auto;
  padding: 15px 20px;
}

h4 {
  color:#000;
}
.sus_chart {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
.sus_chart img {
  width: 100%;
  height: 100%;
}
.service_item {
  float: left;
}
.service_price {
  float: right;
}

/* Responsiveness ============================= */
@media (max-width:850px ) {
  .tune-up_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .repair_grid_cell {
    margin-top: 5px;
    width: 100%;
  }
}
