.body {
	background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




.jumbotron {
	margin: 2% auto;
	background: white;
	padding: 7% 5%;
}
.navbar{
   margin-bottom: 20px;
}


.container {
	margin: 0 auto;
	max-width: 100%;
}

.container-carousel {
	/* border: 2px solid yellow; */
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.car-image {
	position: relative;
	width: 100%;
	max-height: 500px;
}
h2 {
   position: absolute;
   top: 200px;
   left: 50px;
   width: 100%;
}
h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(86, 204, 242, 0.7);
   padding: 10px;
}

body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	}


h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
	font-family: 'Bree Serif', 'serif';
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	color: black;
	}



p {
	text-align: center;
	color: black;
}
