.image-brand {
  height: 40px;
  width: 40px;
}

.d-block {
  height: auto;
  max-height: 550px;
  width: auto;
  max-width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
	color: orange;
}
.navbar-dark .navbar-nav .active .nav-link {
	color:  #56CCF2;
}
/* make image more responsive */
